* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.conteiner {
  width: 1280px;
  margin: 0 auto;
}
/* .header {
} */
.list-iteam {
  list-style-type: none;
  display: inline;
}
.list-iteam a {
  padding-right: 72px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #ff0000;
  text-decoration: none;
}
.list {
  padding: 25px 0;
  text-align: center;
}
.main {
  text-align: center;
}
.title {
  padding: 48px 0 38px;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #373737;
}

.paragraph {
  padding: 0 68px 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
}
.img {
  width: 100%;
}
.btn {
  margin-top: 38px;
  border: 0;
  padding: 17px 42px 18px;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #ffffff;
  background: #ff0000;
  border-radius: 4px;
}
.footer-paragraph {
  margin: 82px 105px 29px;
  text-align: right;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
}
